*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html,body{
    width:100%;
    height:100%;

}
#main{
    display:flex;
    align-items: center;
    justify-content: center;
    width:100%;
    height:100%;
    background-color: rgb(212, 191, 162);
}
#panel{
    box-shadow: 1px 1px 5px 5px rgb(108, 105, 105);
    overflow: hidden;
    width:80%;
    height:85%;
    border-radius: 10px;
    background-color: #fff;
}
.elem{
    //box-shadow: 1px 1px 5px 5px rgb(81, 79, 79);
    display: flex;
    align-items:center ;
    gap: 20px;
    
}
#ptop{
    padding: 0px 30%;
    justify-content:space-between ;
   
    display:flex;
    color:#fff;
    align-items: center;
    width:100%;
    height:80px;
    background-color: rgb(215, 213, 187);
}
.box{
    color: rgb(46, 45, 45);
    font-weight: 600;
    font-size: 25px;
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 5px;
}
h2{
    color:rgb(40, 38, 38);
}
#pbtm{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px ;
    width:100%;
    height:calc(100%-100px);
   // background-color: rgb(255, 252, 252);
}
.bubble{
    display: flex;
    align-items: center;
    justify-content: center;
    //box-shadow: .5px .5px 2px 2px;
    border-radius: 50%;
    width:50px;
    height:50px;
    background-color: rgb(89, 97, 93);
}
.elem h2{
    font-size: 22px;
    font-weight: 600;
}
h3{
    color:#fff;
    font-size: 25px;
}
.bubble:hover {
    cursor: pointer;
    background-color: black;
}
/* project1.css */

#startBtn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 20px 40px; /* Increase padding for a bigger button */
    font-size: 15px; /* Adjust font size */
    cursor: pointer;
    display: block; /* Center horizontally */
    margin: 0 auto; /* Center horizontally */
}
